// Define variables for your color scheme

// For example:
$red: #ee6352ff;
$blue: #aeb8feff;
$yellow: #FFC65A;
$orange: #f09d55;
$green: #9ed872ff;
$gray: #292929ff;
$light-gray: #f2f2f2;
$navbar-text-gray: #a7a7a7;
