<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg')">
  <%= pet.name %>
  <%= link_to "", pet_path(pet), class:"card-link" %>
</div>
<%# <%= pet.photo.attached? ? cl_image_path(pet.photo.key) : %>
