<div class="container mt-3">
  <h1><i class="fa-solid fa-paw"></i>Choose your Fluffy Friend</h1>
  <div class="row">
    <% @pets.each do |pet|%>
      <%= render 'card', pet: pet %>
    <% end %>
  </div>
</div>
