<div class="container mt-3 mb-3">
  <div class="title">
    <h2>My bookings</h2>
  </div>
  <% @bookings.each do |booking| %>
    <% if booking.status != "rejected" %>
      <%= render 'card_product', booking: booking %>
    <% end %>
  <% end %>
  <div class="container">
    <div class="title mt-3">
      <h2>My Pets</h2>
    </div>
    <div class="pet-cards d-flex gap-4 mb-3">
      <% @current_user.pets.order("created_at desc").each do |pet| %>
        <%= render 'pets/card', pet: pet %>
      <% end %>
    </div>
  </div>
</div>
