<div class="container mt-3">
  <h1>Index Bookings</h1>
  <ul>
    <% @bookings.each do |booking| %>
      <li>
        <%= link_to booking.user.username, pets_path %>
        <p><%= booking.date_start %></p>
        <p><%= booking.date_end %></p>
      </li>
    <% end %>
  </ul>
</div>
